/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* plugins */
@import "react-toastify/dist/ReactToastify.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #f9f9f9;
}

.line-clamp-11 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}
